* {
    margin: 0 auto;
    padding: 0;
    background-color: #F6F4EB;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.coinLink {
    position: fixed;
    top: 50%;
    left: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

#smalltext{
    transform: rotate(-90deg);
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    user-select: none;
}

.material-symbols-outlined {
    position: absolute;
    font-size: 4rem;
}

#textContainer{
    margin-left: 5rem;
    margin-top: 4rem;
    max-width: fit-content;
    float: left;
}

#textContainer>h1{
    color: #578116;
    font-size: 6rem;
}

#textContainer>p{
    color: #704517;
    font-size: 2rem;
}