::selection{
    background: black;
    color: white;
}

* {
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grouper {
    margin-top: 20vh;
    margin-left: 36vw;
    position: fixed;
    display: flex;
    flex-direction: row;
}
.coinLink {
    position: fixed;
    top: 50%;
    left: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
#smalltext{
    transform: rotate(-90deg);
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    user-select: none;
}

.material-symbols-outlined {
    position: absolute;
    font-size: 4rem;
    user-select: none;
}

#textContainer{
    margin-left: 5rem;
    max-width: fit-content;
    float: left;
}

#textContainer>h1{
    color: #578116;
    font-size: 6rem;
}

#textContainer>p{
    color: #704517;
    font-size: 2rem;
}

#trees{
    margin-left: 0rem;
    max-width: 25rem;
    float: left;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50rem;
    height: 33rem;
}

.treeConst{ 
    width: 7rem;
    height: 10rem;
    background-color: transparent;
    cursor: pointer;
}

.treesContainer {
    width: 7rem;
    height: 10rem;
    background-color: transparent;
    background-image: url(../images/tree.png);
    background-repeat: no-repeat;
    margin: 5px;
    z-index: 1;
    cursor: pointer;
}

#gameContainer {
    float:right;
    width: 58rem;
    height: 50rem;
    flex-shrink: 0;
    background-image: url(../images/sand.png);
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0 auto;
    display: flex; 
    flex-wrap: wrap;
    margin-right: 18rem;
    justify-content: space-between;
}

#soilContainer {
    background: transparent;
    max-width: 40rem;
    margin-left: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.soils {
    margin-right: 1.5rem;
    width: 162px;
    height: 142px;
    background-repeat: no-repeat;
    background-image: url(../images/soil.png);
    background-position: center;
    background-color: transparent;
}

.soils:nth-child(8), .soils:nth-child(5), .soils:nth-child(2){
    margin-top: -2rem;
}

.soils:nth-child(2)
{
    margin-top: 1rem;
}

  @media screen and (min-width: 768px) and (max-width: 991px) {
    #gameContainer{
        margin-top: -3rem;
        width: 30rem;
        height: 25rem;
        background-size: contain;
    }

    .soils {
        margin-right: 0.8rem;
        width: 100px;
        height: 80px;
        background-repeat: no-repeat;
        background-image: url(../images/soil.png);
        background-position: center;
        background-color: transparent;
        background-size: contain;
    }

    #soilContainer {
        background: transparent;
        max-width: 40rem;
        padding-top: 5rem;
        margin-top: 5rem;
        margin-left: 4rem;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-size: contain;
    }
    
    #treeConst{
        width: 5rem;
        height: 8rem;
        background-color: transparent;
        cursor: pointer;
        background-size: contain;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
    
    .treesContainer {
        width: 5rem;
        height: 8rem;
        background-color: transparent;
        background-image: url(../images/tree.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: 5px;
        z-index: 1;
        cursor: pointer;
    }

    #trees{
        position: fixed;
        margin-top: 5rem;
        margin-bottom: 5rem;
        /* border: 1px solid pink; */
        max-width: 20rem;
        float: left;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 50rem;
        height: 33rem;
    }
  }
  
  @media screen and (min-width: 992px) {
    /*large screens */
  }