@font-face {
    font-family: Graphik;
    src: url(../fonts/GraphikBlack.otf);
    src: url(../fonts/GraphikMedium.otf);
    src: url(../fonts/GraphikRegular.otf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: #F3FAFF;
}