::selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

#hamb {
    top: 1vh;
    font-size: 3vw;
    margin-left: 1vw;
    margin-top: 1vh;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    color: var(--primary-text-color) !important;
}

:root {
    --primary-color: #F6F4EB;
    --primary-text-color: #000000;
    --card-fill: #60606094;
    --big-card-fill: #E2E2E2;
    --card-border: #D2D2D2;
    --selection-color: #fff;
    --selection-background: #000;
}

[theme="dark"] {
    --primary-color: #12151A;
    --primary-text-color: #FFFFFF;
    --card-fill: #4242429a;
    --big-card-fill: #1F2329;
    --card-border: #272A2E;
    --selection-color: #000;
    --selection-background: #fff;
}

body {
    background: var(--primary-color);
}

#containerShop {
    margin: 0 auto;
    padding: 0;
    font-family: 'Graphik', sans-serif;
}

h1,
p {
    background: transparent;
}

.shoptoCoins {
    font-family: 'Graphik', sans-serif;
    position: fixed;
    top: 50%;
    left: -0.4vw;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    background: transparent;
}

#smalltext {
    transform: rotate(-90deg);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    user-select: none;
    background: transparent;
}

#shopHeading {
    color: #1F5A9E;
    font-family: 'Graphik', serif;
    font-size: 6rem;
    font-weight: 700;
    margin-left: 6vw;
    background: transparent;
    margin-block: 0vh;
}

#containerShop {
    margin-top: 5vh;
    top: 0;
    width: 90vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.bigCard,
.smallCard {
    margin-right: 1rem;
    height: 44rem;
    width: 38rem;
    border-radius: 1.25rem;
    border: 3px solid var(--card-border);
    background: var(--big-card-fill);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bigCard:last-child {
    width: 30rem;
}

.smallCard {
    height: 21rem;
    width: 22rem;
    background: #C4C4C4;
}

.smallCard:first-child {
    background: url(../images/tree.png) center center no-repeat var(--big-card-fill);
    z-index: 1;
}

.smallCard:last-child {
    margin-top: 1.5rem;
    background: url(../images/cherryTree.png) center center no-repeat var(--big-card-fill);
    background-repeat: no-repeat;
    z-index: 1;
}

.bigName,
.smallName {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    color: #FFF;
    width: 100%;
    height: 22vh;
    text-align: center;
    border: 1px solid var(--card-border);
    background: var(--card-fill);
}

.bigName>h1,
.smallName>h1 {
    margin-top: 3vh;
}

.bigPrice,
.smallPrice {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 11vh;
    background: #505050;
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke-width: 3px;
    stroke: #393939;
    cursor: pointer;
    color: #fff;
}

.bigPrice>h1,
.smallPrice>h1 {
    font-weight: 500;
}

.bigCard:first-child {
    background: url(../images/snowyBg.png) no-repeat var(--big-card-fill);
    background-size: contain;
    background-position: center 30%;
}

.bigCard:nth-child(2) {
    background: url(../images/dirtySoil.png) no-repeat var(--big-card-fill);
    background-size: 120%;
    background-position: center 30%;
}

.bigCard:last-child {
    background: url(../images/christmasTree.png) no-repeat var(--big-card-fill);
    background-size: 140%;
    background-position: center 40%;
}