::selection{
    background: black;
    color: white;
}

* {
    margin: 0 auto;
    padding: 0;
    background-color: #F6F4EB;
    font-family: Graphik;
}

h1, p{
    background: transparent;
}

.coinLink {
    position: fixed;
    top: 50%;
    left: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    background: transparent;
}

#smalltext{
    transform: rotate(-90deg);
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    user-select: none;
    background: transparent;
}

.material-symbols-outlined {
    position: absolute;
    left: -1rem;
    font-size: 3rem;
    user-select: none;
}

#heading{
    color: #1F5A9E;
    font-family: Graphik;
    font-size: 6rem;
    font-weight: 700;

    margin-top: 3rem;
    margin-left: 2rem;
    background: transparent;
}

#containerShop {
    margin-top: 2rem;
    width: 108rem;
    height: 46rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}