@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100&display=swap');
@font-face {
    font-family: Graphik;
    src: url(../fonts/GraphikBlack.otf);
    src: url(../fonts/GraphikMedium.otf);
    src: url(../fonts/GraphikRegular.otf);
}

::selection{
    background: black;
    color: white;
}


body {
    overflow-y: hidden;
    margin: 0;
}
*{
    font-family: 'Abril Fatface', serif;
    user-select: none;
}

#heading, #fineprint {
    font-family: 'Abril Fatface', serif;
    color: black;
    margin: 0;
    font-size: 9vw;
    font-weight: 350;
    line-height: 0.9;
}

#hamb {
    font-size: 3vw;
    margin-left: 1vw;
    margin-top: 1vh;
    position: absolute;
    cursor: pointer;
    z-index: 3;
}

.menu {
    position: absolute;
    background: #F1EFE9D1;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    margin: 0;
    opacity: 0;
    transition: opacity 0.25s ease;
}
.menu.open {
    opacity: 1;
    z-index: 0;
}

.earthCaption {
    position: absolute;
    margin-left: 50vw;
    margin-top: 24vh;
}

#fineprint {
    font-size: 3vw;
    font-family: 'Poppins', sans-serif;
    margin-left: 3.5vw;
}

canvas#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.container {
    height: 100vh;
}

.coinLink, .plantLink {
    position: fixed;
    top: 50%;
}

#chevronLeft, #chevronRight {
    font-size: 2.5vw;
    margin: 0 1vw;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.smalltext {
    font-family: 'Graphik Regular', sans-serif;
    font-size: 1vw;
    text-decoration: none;
    color: black;
    margin: 0;
}
.themeSelect {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.themeSelect img {
    justify-content: center;
    width: 12vw;
    user-select: none;
    padding: 0.5vw;
}
.themeSelect img:hover {
    background-color: rgba(110, 110, 110, 0.2);
    border-radius: 15px;
}

.separator {
    width: 1px;
    height: 95vh;
    background-color: black;
    transform: rotate(18.4deg);
    margin-inline: 7vw;
}

.rotatedLeft {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.rotatedRight {
    writing-mode: vertical-rl;
}

.coinLink {
    left: 3vw;
    transform: translateY(-50%);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.plantLink {
    right: 3vw;
    transform: translateY(-50%);
    position: fixed;
    display: flex;
    align-items: center;
}